<head>
    <style>
        div.scroll {
            margin: 4px, 4px;
            padding: 4px;
            width: 500px;
            height: 110px;
            overflow-x: hidden;
            overflow-y: auto;
            text-align: justify;
        }
    </style>
</head>

<body>

    <div class="container">
        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
                <br>


              <li ><button class="btn btn-primary btn-lg" (click)="login()">Logout</button></li>
              <li ><button class="btn btn-primary btn-lg" (click)="goHome()">Home</button></li>
              <li ><button class="btn btn-primary btn-lg" (click)="goDiscover()">Discover profiles</button></li>
              <li ><button class="btn btn-primary btn-lg" (click)="goMatches()">View Matches</button></li>
              <li ><button class="btn btn-primary btn-lg" (click)="goEdit()">Edit Account</button></li>


            </ol>
        </nav>
        <!-- /Breadcrumb -->
        <div class="main-body">
            <section class="vh-100 gradient-custom">
                <div class="container py-2 h-50">
                    <div class="row justify-content-center align-items-center h-50">
                        <div class="col-12 col-lg-9 col-xl-7">
                            <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                                <div class="card-body p-4 p-md-5">
                                    <h3 class="mb-4 pb-2 pb-md-0 mb-md-5" style="text-align: center;">Edit profile</h3>
                                    <div>
                                        <div *ngIf="retrievedImage; else elseBlock">
                                            <img [src]="retrievedImage" alt="Admin" class="rounded-circle" width="150"
                                                height="150">
                                        </div>
                                        <ng-template #elseBlock>
                                            <img src="/assets/blank-profile.png" alt="Admin" class="rounded-circle"
                                                width="150" height="150">
                                        </ng-template>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-8">
                                                <label for="profilePic" class="form-label"><b>Change profile picture</b></label>
                                                <input type="file" (change)="onFileChange($event)">
                                            </div>
                                            <div class="col-md-2">
                                                <label for="firstName" class="form-label"><b>Age:</b></label>
                                                <input id="firstName" [(ngModel)]="age"
                                                    class="form-control">
                                            </div>
                                            <div class="col-sm-4"></div>
                                        </div>
                                        <br>
                                        <div class="row">

 
                                            <div class="col-md-6 mb-4">
                                                <label for="firstName" class="form-label"><b>Profile Description:</b> </label>
                                                <textarea id="firstName" [(ngModel)]="profileDescription"
                                                    class="form-control form-control-lg"></textarea>
                                            </div>
                                            <div class="col-md-6 mb-4">
                                                <label for="firstName" class="form-label"><b>Favorite Song: </b></label>
                                                <input id="firstName" [(ngModel)]="anthem"
                                                    class="form-control form-control-lg col-sm-3">
                                            </div>
                                        </div>                                        
                                        <br>
                                       
                                        <div>
                                            <label for="Genres"><b>Favorite Genres:</b></label>
                                            <form [formGroup]="form" class="form-control scroll">
                                                <div *ngFor="let genre of genreList">
                                                    <label>
                                                        <input type="checkbox" [value]=genre.genre
                                                            (change)="onCheckboxChange($event)" />
                                                        {{genre.genre}}
                                                    </label>

                                                </div>

                                            </form>
                                        </div>
                                        <br>
                                        <div>
                                            <label><b>Favorite Artists:</b></label>
                                            <form [formGroup]="form" class="form-control scroll">
                                                <div *ngFor="let artist of topArtists">
                                                    <div class = "row">
                                                        <div class="col-md-6 mb-4">
                                                            <label>
                                                                {{artist.artistName}}
                                                            </label> 
                                                        </div>
                                                        <div class="col-md-6 mb-4">
                                                            <label>
                                                                <button type="button" class="btn-close" (click)="deleteArtist(artist)"></button>
                                                            </label> 
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <br>
                                        <label for="firstName" class="form-label"><b>Add new artist: </b></label>
                                        <div class = "row">
                                            <div class="col-md-6">
                                                <input id="firstName" [(ngModel)]="artistName"
                                                    class="form-control col-sm-3"> 
                                            </div>
                                            <div class="col-md-6">
                                                <label>
                                                    <input class="btn btn-primary" type="submit" (click)="submitFavoriteArtist()" value="submit" />
                                                </label> 
                                            </div>
                                            <div *ngIf="artistError" class="alert alert-warning alert-dismissible fade show" role="alert">
                                                <strong>Can only have up to 3 top artists. Please remove one.</strong> 
                                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="toggleOffArtistError()"></button>
                                              </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-6 mb-4">
                                                <label for="gender"><b>Gender:</b></label>
                                                <br>
                                                <label>
                                                    Male
                                                    <input for="gender" [(ngModel)]="gender" type="radio" value="MEN"
                                                        name="gender" [checked]="gender == 'MEN'">
                                                </label>
                                                <br>
                                                <label>
                                                    Female
                                                    <input for="gender" [(ngModel)]="gender" type="radio" value="WOMEN"
                                                        name="gender" [checked]="gender == 'WOMEN'">
                                                </label>
                                                <br>
                                                <label>
                                                    Non-binary
                                                    <input for="gender" [(ngModel)]="gender" type="radio"
                                                        value="EVERYONE" name="gender" [checked]="gender == 'EVERYONE'">
                                                </label>
                                            </div>
                                            <div class="col-md-6 mb-4">
                                                <label for="preference"><b>Gender Preference:</b></label>
                                                <br>
                                                <label>
                                                    Men
                                                    <input for="preference" [(ngModel)]="preference" type="radio"
                                                        value="MEN" name="preference">
                                                </label>
                                                <br>
                                                <label>
                                                    Women
                                                    <input for="preference" [(ngModel)]="preference" type="radio"
                                                        value="WOMEN" name="preference">
                                                </label>
                                                <br>
                                                <label>
                                                    Everyone
                                                    <input for="preference" [(ngModel)]="preference" type="radio"
                                                        value="EVERYONE" name="preference">
                                                </label>
                                            </div>
                                        </div>
                                        <div class="mt-4 pt-2">
                                            <input class="btn btn-primary btn-lg" type="submit" (click)="confirmEdit()"
                                                value="submit" />
                                        </div>
                                        <div *ngIf="ageError" class="alert alert-warning alert-dismissible fade show" role="alert">
                                            <strong>Invalid age</strong> 
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                          </div>
                                          <div *ngIf="error" class="alert alert-warning alert-dismissible fade show" role="alert">
                                            <strong>Submission error</strong> 
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>