<div class="container">
    <div class="main-body">
    
        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb" class="main-breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><button (click)="login()">Logout</button></li>
            <li class="breadcrumb-item"><button (click)="goHome()">Home</button></li>
            <li class="breadcrumb-item"><button (click)="goEdit()">Edit Account</button></li>
        </ol>
        </nav>
        <!-- /Breadcrumb -->
        <br>
        <br>
        <div class="row gutters-sm">
        <div class="col-md-4 mb-3">
            <div class="card">
            <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                <div *ngIf="retrievedImage; else elseBlock">
                    <img [src]="retrievedImage" alt="Admin" class="rounded-circle" width="150">
                </div>
                <ng-template #elseBlock>
                    <img src="/assets/blank-profile.png" alt="Admin" class="rounded-circle" width="150">
                </ng-template>
                <div class="container row">
                    <div class="col-md-12">
                        <input type="file" (change)="onFileChange($event)">
                    </div>
                    <div class="col-md-12">
                        <label for="age">Age:</label>
                        <input [(ngModel)]="age" id="age">
                    </div>
                    <div class="col-md-12">
                        <label for="age">Profile Description:</label>
                        <input [(ngModel)]="profileDescription" id="profileDescription">
                    </div>
                </div>
                
                <div class="col-md-6">
                    <input type="button" (click)="onUpload()" value="upload">
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

