<!-- profile pic, username, first name, age -->
<body>


<div class="container"><nav aria-label="breadcrumb" class="main-breadcrumb">
  <ol class="breadcrumb">
    <br>
    <li><input type="image" src ="/assets/logo-heartBeat-transparent.png" (click) = "goHome()" width = "130" height="45"></li>
    <li ><button class="btn btn-primary btn-lg" (click)="login()">Logout</button></li>
    <li ><button class="btn btn-primary btn-lg" (click)="goHome()">Home</button></li>
    <li ><button class="btn btn-primary btn-lg" (click)="goDiscover()">Discover profiles</button></li>
    <li ><button class="btn btn-primary btn-lg" (click)="goMatches()">View Matches</button></li>
    <li ><button class="btn btn-primary btn-lg" (click)="goEdit()">Edit Account</button></li>
  </ol>
</nav>
    <div class="row">
      <div *ngFor="let user of users" class="d-flex justify-content-center">
      <div class="col-md-6 col-xl-4 " >                       
        <div class="card">
          <div class="card-body">
              <div *ngIf="user.images?.length != 0;">
                <img [src]= "getUserImage(user)" class="rounded-circle" width="150" height = "150">
              </div>
              <br>
              <div class="media-body overflow-hidden">
                <div class = "row">
                  <div class="col-sm-6" style="text-align: center;">
                    <h5><b>{{ user.firstName }}, {{user.age}}</b></h5>
                  </div>
                  <div class="col-sm-2">
                    <input class="btn btn-primary" type="submit" (click)="goProfile(user)" value="View profile"/>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
