<!-- profile pic, username, first name, age -->
<body>


<div class="container"><nav aria-label="breadcrumb" class="main-breadcrumb">
  <ol class="breadcrumb">
    <br>
   
    <li ><button class="btn btn-primary btn-lg" (click)="login()">Logout</button></li>
    <li ><button class="btn btn-primary btn-lg" (click)="goHome()">Home</button></li>
    <li ><button class="btn btn-primary btn-lg" (click)="goDiscover()">Discover profiles</button></li>
    <li ><button class="btn btn-primary btn-lg" (click)="goDiscover()">View Matches</button></li>
    <li ><button class="btn btn-primary btn-lg" (click)="goEdit()">Edit Account</button></li>
  </ol>
</nav>
    <div class="row">
      <div *ngFor="let user of users" class="d-flex justify-content-center">
      <div class="col-md-6 col-xl-4 " >                       
        <div class="card">
          <div class="card-body">
              <div *ngIf="user.images?.length != 0; else elseBlock">
                <img [src]= "getUserImage(user)" alt="Admin" class="rounded-circle" width="150" height = "150">
              </div>
              <ng-template #elseBlock>
                <img src="/assets/blank-profile.png" alt="Admin" class="rounded-circle" width="150" height = "150">
              </ng-template> 
              <div class="media-body overflow-hidden">
                <h5 class="card-text mb-0">{{ user.username }}</h5>
                <p class="card-text text-uppercase text-muted">{{ user.firstName }}</p>
                <p class="card-text">Age: {{ user.age }}</p>
                <input class="btn btn-primary btn-lg" type="submit" (click)="goProfile(user)" value="View profile"/>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>