<!-- <div>
    Welcome to your homepage {{firstName}}
</div>

<!-- <button type="button" (click)="getArtist()">test Button</button> -->

<!-- <br>
<input [(ngModel)]="userSearch" id="searchBar">
<label for = "searchBar">Search for another user</label>
<button (click) = "searchUser()" type="button">Search</button>
<br>
<div>
   Profile status: 
</div>
<div>
{{profileDescription}}
</div>
<br>
<div>
    Your top artists are:

</div>
<div *ngFor="let cell of topUserArtists">
  artist name:
    {{cell[1]}}
    <br>
    <img [src]= "cell[2]">
</div>
  
    <br>
    <div>
        Your top genres are:
    </div>
<div *ngFor="let cell of topUserGenres"> 
    {{cell}}
</div>
    
    <br>
<div>
    Your anthem is:
    {{track?.trackName}}
    Written by: 
    {{track?.trackArtist}}
    From: 
    {{track?.trackAlbum}}
   
</div>
  <img [src] = "albumImageUrl">
    <br>
<div>
    Your matches are:
</div>

<br>

<button (click)="connectUserAccount()" type="button">
    Click to get implicit access token
</button>
    


<button (click)="getTokenFromUrl()" type="button">
    Click to get token from url
</button>
     -->
 -->



<!-- 
<label for="artistSearch">search for an artist</label>
<input [(ngModel)]="getArtistSearch" id="artistInput">
<button (click) = "searchArtist()" type="button"> 
    search a specific artist
</button>


<label for="songInput">song name</label>
<input [(ngModel)]="songSearch" id="songInput">
<label for="artistInput">artist name</label>
<input [(ngModel)] = "artistSearch" id="albumInput"> 


<button (click) = "searchSong()" type="button">
    Get info about this song:
</button>

<div>
    Information about this song:
    artist name: 
    {{track?.trackArtist}}
    album name: 
    {{track?.trackAlbum}}
    song name: 
    {{track?.trackName}}
   album image: 
</div>
<img [src] = "albumImageUrl">
<br> -->

<!-- <button (click) = "getTopArtists()"> 
    click to get 5 top artists
</button> -->

<div class="container">
    <div class="main-body">
    
          <!-- Breadcrumb -->
          <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Login</a></li>
              <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Friend Profile</li>
            </ol>
          </nav>
          <!-- /Breadcrumb -->
    
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4></h4>
                      <p class="text-secondary mb-1">Age: {{age}}</p>
                      <button class="btn btn-primary">Follow</button>
                      <button class="btn btn-outline-primary">Message</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mt-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap"><h6>Favorite Genres: </h6></li>
                  <div *ngFor="let cell of topUserGenres" >
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">{{cell}}</li>
                  </div>
                </ul>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Full Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{firstName}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Profile Description</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{profileDescription}}
                    </div>
                    

                  </div>
                  <hr><div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Anthem</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <div>
                                Your anthem is:
                                {{track?.trackName}}
                                Written by: 
                                {{track?.trackArtist}}
                                From: 
                                {{track?.trackAlbum}}
                               
                            </div>
                              <img [src] = "albumImageUrl">
                                <br>
                        </div>
                  <div class="row">
                   
                  </div>
                  <hr>
                  <hr>
                </div>
              </div>
              <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Favorite</i>Artists</h6>
              <div *ngFor="let cell of topUserArtists">
                  
             
              <div class="row gutters-sm">
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                      
                      <small>{{cell[1]}}</small>
                     
                        <img [src]="cell[2]">
                      </div>
            

                    </div>
                  </div>
                </div>
              </div>



            </div>
          </div>

        </div>
    </div>





