            <body>
            <!-- Breadcrumb -->  <div class="container">
          <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
              <br>

              <li ><button class="btn btn-primary btn-lg" (click)="login()">Logout</button></li>
              <li ><button class="btn btn-primary btn-lg" (click)="goHome()">Home</button></li>
              <li ><button class="btn btn-primary btn-lg" (click)="goDiscover()">Discover profiles</button></li>
              <li ><button class="btn btn-primary btn-lg" (click)="goDiscover()">View Matches</button></li>
              <li ><button class="btn btn-primary btn-lg" (click)="goEdit()">Edit Account</button></li>

            </ol>
          </nav>
        
    <div class="main-body" >
          <!-- /Breadcrumb -->
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <div *ngIf="retrievedImage; else elseBlock">
                        <img [src]="retrievedImage" alt="Admin" class="rounded-circle" width="150" height = "150">
                    </div>
                    <ng-template #elseBlock>
                        <img src="/assets/blank-profile.png" alt="Admin" class="rounded-circle" width="150" height = "150">
                    </ng-template>
                    <div class="mt-3">
                      <h4></h4>
                      <p class="text-secondary mb-1">Age: {{age}}</p>
                      <p class="text-secondary mb-1">Username: {{username}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mt-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap"><h6>Favorite Genres: </h6></li>
                  <div *ngFor="let cell of topUserGenres" >
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">{{cell}}</li>
                  </div>
                </ul>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{firstName}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Profile Description</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{profileDescription}}
                    </div>
                    

                  </div>
                  <hr>
                  <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Anthem</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <div>

                                {{track?.trackName}}
                            <br>
                            By: 
                            {{track?.trackArtist}}
                            <br>
                               

                               
                            </div>
                              <img [src] = "albumImageUrl">
                                <br>
                        </div>
               
                  
                </div>
               <hr>
              
              <div class="row">
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Favorite Artists</h6>
                  </div>
                </div>
                <br>
                <div *ngFor="let cell of topUserArtists" class="col">
                    {{cell[1]}}
                     <br>
                    <img [src]="cell[2]" width = "300" height = "300">
                </div>
              </div>
            
                </div>
</div>

            </div>
          </div>

        </div>
    </div>

            </body>



